###
# Environment Variables (Be sure to rename this file to .env in the root directory)
###
MDB_CONNECTION=<<<Your MongoDB Connection String>>>
MDB_COLLECTION=flight_reservations
MDB_DATABASE=airline_flights
NUM_DOCS=100000